*{
  margin:0;
  padding:0;
  box-sizing: border-box;  
}
.header{
    height: 70px;
    width: auto;
    background:lightgreen;
    border: 2px solid aqua;
    
}
.logo{
    width:30px;
    background:transparent;
    float:left;
    /* clear:both; */

}
.menu{
    height:70px;
    width:auto;
    background:black;
   float:right;
    
   }
.menu a{
    color:#fff;
    margin-left: 70px;
}
.menu ul{
    background:lightgreen;
    height:70px;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
}
.menu ul li{
    display: inline;
    padding:5px 0px;
    margin:0px 50px;
    list-style: none;
}
