.box a{
    text-decoration: none;
    color:blue;
    text-shadow: 5px 5px 5px lightgreen;
    background-color:lightcoral;
    padding:5px;
    font-size:25px;
}
.prev{
    margin-top:20px;
    margin-bottom: 20px;
}
.next{
    float:right;
    margin-top:-70px;
}
button{
    border: 2px solid black;
    background-color:lightcoral;
    color:blue;
    text-shadow: 5px 5px 5px lightgreen;
    font-size: 25px;
    padding:10px;
    display:inline-block;
    border-radius:10px;
}
hr{
    border-color: lightgreen;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px lightgreen;
    color:darkred;
}
h2{
    background-color: lightskyblue;
    display: inline;
    padding: 10px;
    border-radius: 12px;
}
h3{
    background-color:darksalmon;
    /* display: inline; */
    width:20%;
    padding: 10px;
    margin-left: 20px;
    display: inline;
border-radius: 5px; 
}
b{
    font-size: 20px;
}
p{
    margin-left:20px;
    font-size: 20px;
    
}
a{
    font-size: 25px;
    color:brown;
    font-weight: 800;
    text-decoration: none;
    margin-left: 20px;
}

.void{
border:none;
            border-radius: 7px;
            padding: 15px;
            font-size:19px;
            background-color:crimson;
            color: white;
            height:45px;
            width:130px;
            margin-top:18px;
            margin-left: 20px;
           
}