*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
width: auto;
}
.logo{
    height: 20px;
    width: 20%;
    background-color: black;
    float: left;
    bottom: none;
}
.menu{
    height: 70px;
    width: 80%;
    background: transparent;
    float: left;
    border:none;
    text-decoration: none;
}
.menu ul{
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}
.menu ul li{
    display: inline;
    padding:50px;
    margin: 10px;
    text-decoration: none;
   
}
.menu  li a:hover{
    text-decoration: none;
    color: aqua;
}
#slider img{
    width: 100%;
    height: 500px;
}