<<<<<<< HEAD
table,th,td{
    border 1px solid #fff;
    border-collapse: collapse;
}
body{
    background-color: lightskyblue;
    color:black
=======
table,th,td{
    border 1px solid #fff;
    border-collapse: collapse;
}
body{
    background-color: lightskyblue;
    color:black
>>>>>>> 2e1d0c6 (fff)
}