<<<<<<< HEAD
body {
    background-color: lightskyblue;
    color: black;
}

div {
    width: 500px;
}
=======
body{
    
    background-color: lightskyblue;
    color:black;
    
} 
div{
    width:700px;
    margin:auto;
   
}
>>>>>>> 2e1d0c6 (fff)
