body {
    margin: 0;
    background-color: white;
}

.logo img {
    height: 70px;
    width: 190px;
    float: left;
}

.user {
    float: right;
}

.user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

.user p {
    margin-top: 20px;
    border: radius 10%;
    float: right;
    margin-right: 10px;
}

.user i {
    margin-top: 35px;
    margin-right: 10px;
}