<<<<<<< HEAD
body{
    background-color: lightskyblue;
    color:black;
}
div{
   
    width:fit-content;
    margin: auto;
}
=======
body{
    background-color: lightskyblue;
    color:black;
}
div{
   
    width:fit-content;
    margin: auto;
}
>>>>>>> 2e1d0c6 (fff)
