/*css for opacity*/
div{
    background-color: aqua;
    padding: 10px;
}

.opacity{
    background-color: brown;
    opacity: 0.5;
    font-size: 30px;
}
div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.3;
}
div.third{
    opacity: 0.6;
}

/*css for background color */
table{
    width: 40%;
    padding: 10px;
    background-color:  #33475b;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

table th{
    background-color: burlywood;
    color: black;
    padding: 10px;
}

table td{
    padding: 10px;
}

/*css for Image repetition Property*/
div.note{
    background-color: aqua;
    font-size: 15px;
    padding: 20px;
}
div.answer{
    background-color: cadetblue;
    font-size: 20px;
}
.bg{
    background-image: url(image/flower.png);
    background-repeat: no-repeat;
}

/*CSS for Backgound position*/
.bg_position{
    background-image: url(../image/small_image.png);
    background-repeat: no-repeat;
    background-position: center top;
}

/* External css for example*/
.externalcss{
     background-color: yellow;
     padding: 15px;
}
.externalcss_paragraph{
    background-color: red;
    color: white;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 15px;
}
.highlights{
    background-color: #33475b;
    color: white;
    font-size: 25px;
    margin-left: 30%;
    padding: 10px;
}

/*media query example*/
/*Q-18*/
@media (max-width:900px)
{
    body{
        background-color: aqua;
    }
}
