<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://malsup.github.io/jquery.cycle.all.js"></script>
    <script>
       $(document).ready(function(){
           $('#slider').cycle('zoom');
       })
    </script>
</head>
<body>
    
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQcpdUNRTtnjlJyCg2lXbeLih5Ou7IoOynqw&usqp=CAU" alt="logo" height="70px">
        </div>
        <div class="menu">
            <ul>
                <li><a href="">MEN</a></li>
                <li><a href="">WOMEN</a></li>
                <li><a href="">KIDS</a></li>
                <li><a href="">HOME&LIVING</a></li>
                <li><a href="">BEAUTY</a></li>
                <li><a href="">STUDIO<SUP>NEW</SUP></a></li>
                <li><input type="serch" name="serch" id="" value="serch for product,brand and more" style="padding:5px;"></li>
                <li><ruby>profile<rt><i class="fa-regular fa-user fa-2xl"></i></rt></ruby></li>  
                <li><ruby>Wishlist<rt><i class="fa-sharp fa-regular fa-heart"></i></rt></ruby></li>
                <li><ruby>Bag<rt><i class="fa-sharp fa-solid fa-bag-shopping"></i></rt></ruby></li>
                <li><a href="https://api.whatsapp.com/send?phone=6351930661&text=rutu">Contactus</a></li>
           
           
            </ul>
            </div>
            <!--slider start-->
            <div class="image1">
                <img src="https://i.pinimg.com/236x/8e/42/dd/8e42dd8186d67708d1a216678d468e97--eid-dresses-ladies-dresses.jpg" alt="">
              </div>
            
              <section id="slider">
              <img src="https://www.vhv.rs/dpng/d/280-2803445_slider-online-shopping-hd-png-download.png" alt="" >
              <img src="https://entrackr.com/storage/2018/08/f-style.jpg" alt=""  >
               <img src="http://howtofundraise.com.au/files/2012/12/shopping-slider.png" alt="">
               <img src="https://img.freepik.com/premium-vector/website-slider-black-friday-sale-with-copy-space-template-discount-store-shop_278395-327.jpg?w=2000" alt=""
               >
                  
              </section>
              <div class="image2">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrLK91A-oPdQS2IghQCrnT8937OWyXyiACvg&usqp=CAU" alt="" >
              </div>
          <script src=""></script>
               
            
        </body>
        </html>              
        
            
        
       
         
       
         
       
       
      
      
   
    
