.box a{
    text-decoration: none;
    color:blue;
    text-shadow: 5px 5px 5px lightgreen;
    background-color:lightcoral;
    padding:5px;
    font-size:25px;
}
.next{
    margin-top: 25px;
    margin-left:1200px;
}
button{
    border: 2px solid black;
    background-color:lightcoral;
    color:blue;
    text-shadow: 5px 5px 5px lightgreen;
    font-size: 25px;
    padding:5px;
    display:inline-block;
    border-radius:10px;
}
hr{
    border-color: lightgreen;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px lightgreen;
    color:darkred;
}
h2{
    background-color: lightskyblue;
    display: inline;
    padding: 10px;
    border-radius: 12px;
}
b{
    font-size: 25px;
}
p{
    margin-left:40px;
}